.modal_overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_window {
  width: 60%;
  height: 400px;
  border-radius: 25px;
  background-color: #d0d0d9;
  color: #2a3044;
  padding: 50px 100px 50px 100px;
}

.title_wrap {
  margin-bottom: 50px;
}
.title_wrap span {
  font-size: 24px;
  margin-right: 60px;
}
.title_wrap input {
  width: 303px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px 10px 5px 10px;
  font-size: 24px;
  color: #2a3044;
}

.post_wrap {
  display: flex;
  width: 100%;
  height: 270px;
  overflow: hidden;
}
.post_wrap span {
  font-size: 24px;
  margin-right: 60px;
}
.text_area {
  width: 88%;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px 20px 10px 20px;
  color: #2a3044;
}

.buttons_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.publish_btn,
.cancel_btn {
  width: 100px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}
.publish_btn {
  margin-right: 25px;
  background-color: #2a3044;
}
.publish_btn:hover {
  background-color: #7aaffe;
}

.cancel_btn {
  background-color: #ffffff;
  color: #2a3044;
}
.cancel_btn:hover {
  color: #7aaffe;
}

.fields_message {
  color: red;
  position: relative;
  top: 8px;
  right: 20px;
}

@media (max-width: 823px) {
  .modal_window {
    width: 100%;
    height: 470px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0;
  }

  .title_wrap {
    margin-bottom: 20px;
  }
  .title_wrap input {
    margin-top: 5px;
    font-size: 18px;
  }

  .post_wrap {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .buttons_wrap {
    justify-content: center;
  }

  .text_area {
    font-size: 18px;
  }
}
